<div class="w-full text-center">
  <h1 class="font-bold text-4xl">打刻アプリ(仮)です</h1>
  <p class="font-extrabold bg-red-600 w-full">製作途中です！！個人情報は入力しないでください！！</p>
  <p class="font-extrabold bg-red-600 w-full">Work in progress. DO NOT enter crecidential information</p>
</div>
